In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
salesData= pd.read_excel('Sample - Superstore.xls')

In [7]:
salesData.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

1. Shape of the data
2. Datatype of the data columns
3. How many categorical data columns data has
4. Find the unique items in the categorical data columns
5. Which sub-Categories has Standard Deviation for Sales and Profit one point more than the Mean of Sales and Profit?
6. identify the Sub-Categories where Top 20 customers that have sales more that the other Sub-Categories in the same Region
7. Identify the Regions where Top 20 Customers overall Profit ratio(Profit as % of Sales)

# Which sub-Categories has Standard Deviation for Sales and Profit one point more than the Mean of Sales and Profit?

In [23]:
for i in salesData.columns:
#     print(len(np.unique(salesData[i])))
      print('The Total unique no of ', i ,'=', len(np.unique(salesData[i])))

The Total unique no of  Row ID = 9994
The Total unique no of  Order ID = 5009
The Total unique no of  Order Date = 1238
The Total unique no of  Ship Date = 1334
The Total unique no of  Ship Mode = 4
The Total unique no of  Customer ID = 793
The Total unique no of  Customer Name = 793
The Total unique no of  Segment = 3
The Total unique no of  Country = 1
The Total unique no of  City = 531
The Total unique no of  State = 49
The Total unique no of  Postal Code = 631
The Total unique no of  Region = 4
The Total unique no of  Product ID = 1862
The Total unique no of  Category = 3
The Total unique no of  Sub-Category = 17
The Total unique no of  Product Name = 1841
The Total unique no of  Sales = 6144
The Total unique no of  Quantity = 14
The Total unique no of  Discount = 12
The Total unique no of  Profit = 7545

In [33]:
salesData.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [64]:
meanInfo= pd.pivot_table(salesData,values=['Sales','Profit']\
               ,index=['Sub-Category']\
               ,aggfunc='mean')\
               .reset_index()

meanInfo.columns=['Sub-Category','MeanSales','MeanProfit']
meanInfo
# list(salesData.columns)

   Sub-Category   MeanSales   MeanProfit
0   Accessories   54.111788   215.974604
1    Appliances   38.922758   230.755710
2           Art    8.200737    34.068834
3       Binders   19.843574   133.560560
4     Bookcases  -15.230509   503.859633
5        Chairs   43.095894   532.332420
6       Copiers  817.909190  2198.941618
7     Envelopes   27.418019    64.867724
8     Fasteners    4.375660    13.936774
9   Furnishings   13.645918    95.825668
10       Labels   15.236962    34.303055
11     Machines   29.432669  1645.553313
12        Paper   24.856620    57.284092
13       Phones   50.073938   371.211534
14      Storage   25.152277   264.590553
15     Supplies   -6.258418   245.650200
16       Tables  -55.565771   648.794771

In [68]:
stdInfo= pd.pivot_table(salesData\
                       ,index=['Sub-Category']\
                       ,values=['Sales','Profit']\
                       , aggfunc='std')\
                        .reset_index()


stdInfo.columns= ['Sub-Category','stdSales','stdProfit']
stdInfo

   Sub-Category     stdSales    stdProfit
0   Accessories   106.155455   334.965015
1    Appliances   148.319146   388.949643
2           Art    13.384264    60.122465
3       Binders   306.196773   563.251188
4     Bookcases   182.034224   638.748523
5        Chairs   127.099922   550.148243
6       Copiers  1460.921156  3175.665867
7     Envelopes    35.354983    84.351633
8     Fasteners     5.055053    12.416593
9   Furnishings    52.753228   147.893640
10       Labels    34.084127    74.119287
11     Machines  1099.070067  2765.102088
12        Paper    35.225214    78.167639
13       Phones   113.251277   491.457343
14      Storage    81.923600   355.222507
15     Supplies   105.059628   923.828753
16       Tables   230.565006   615.774655

In [74]:
savTheTable=pd.merge(meanInfo, stdInfo, on='Sub-Category', how='left')

In [75]:
savTheTable.head(2)

  Sub-Category  MeanSales  MeanProfit    stdSales   stdProfit
0  Accessories  54.111788  215.974604  106.155455  334.965015
1   Appliances  38.922758  230.755710  148.319146  388.949643

In [77]:
savTheTable['diffMean']=savTheTable['MeanProfit']-savTheTable['stdProfit']

In [78]:
savTheTable['diffStd']=savTheTable['MeanSales']-savTheTable['stdSales']

In [82]:
savTheTable.sort_values(by='diffStd', ascending=False)

,Sub-Category,MeanSales,MeanProfit,stdSales,stdProfit,diffMean,diffStd
8,Fasteners,4.375660,13.936774,5.055053,12.416593,1.520181,-0.679393
2,Art,8.200737,34.068834,13.384264,60.122465,-26.053631,-5.183527
7,Envelopes,27.418019,64.867724,35.354983,84.351633,-19.483908,-7.936964
12,Paper,24.856620,57.284092,35.225214,78.167639,-20.883547,-10.368594
10,Labels,15.236962,34.303055,34.084127,74.119287,-39.816232,-18.847165
9,Furnishings,13.645918,95.825668,52.753228,147.893640,-52.067972,-39.107310
0,Accessories,54.111788,215.974604,106.155455,334.965015,-118.990411,-52.043667
14,Storage,25.152277,264.590553,81.923600,355.222507,-90.631953,-56.771323
13,Phones,50.073938,371.211534,113.251277,491.457343,-120.245808,-63.177339
5,Chairs,43.095894,532.332420,127.099922,550.148243,-17.815823,-84.004028
1,Appliances,38.922758,230.755710,148.319146,388.949643,-158.193933,-109.396388
15,Supplies,-6.258418,245.650200,105.059628,923.828753,-678.178553,-111.318047
4,Bookcases,-15.230509,503.859633,182.034224,638.748523,-134.888890,-197.264733
16,Tables,-55.565771,648.794771,230.565006,615.774655,33.020116,-286.130778
3,Binders,19.843574,133.560560,306.196773,563.251188,-429.690627,-286.353199
6,Copiers,817.909190,2198.941618,1460.921156,3175.665867,-976.724250,-643.011967
11,Machines,29.432669,1645.553313,1099.070067,2765.102088,-1119.548775,-1069.637398

## identify the Sub-Categories where Top 20 customers that have sales more that the other Sub-Categories in the same Region

In [84]:
salesData.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [85]:
list(salesData.columns)

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [121]:
# first we need to find top 20 customers
customerName=pd.pivot_table(salesData,values='Sales'\
              ,index='Customer ID',aggfunc='sum')\
               .reset_index()\
              .sort_values(by='Sales', ascending=False)\
              .head(20)['Customer ID'].values

customerName

# #  we can also perform the same operation using groupby method in optimum ways
    
# salesData.groupby('Customer ID')[['Sales']].\
#                  sum().\
#                   sort_values(by='Sales',ascending=False).head(3)

array(['SM-20320', 'TC-20980', 'RB-19360', 'TA-21385', 'AB-10105',
       'KL-16645', 'SC-20095', 'HL-15040', 'SE-20110', 'CC-12370',
       'TS-21370', 'GT-14710', 'BM-11140', 'SV-20365', 'CJ-12010',
       'CL-12565', 'ME-17320', 'KF-16285', 'BS-11365', 'EH-13765'],
      dtype=object)

In [128]:
salesData.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [131]:
# Here we apply filter on my data on Top 20 Customer with specific region
filtData=salesData[(salesData['Customer ID'].isin(customerName)) & (salesData['Region']=='South')]

In [134]:
filtData= salesData[(salesData['Customer ID'].isin(customerName))]

In [153]:
savThePivT=pd.pivot_table(filtData, index='Sub-Category'\
               , columns=['Region']\
               ,values=['Sales'])

In [154]:
savThePivT

                     Sales
Region             Central         East         South         West
Sub-Category
Accessories      36.027000   100.938889    498.000000   125.175667
Appliances      122.191000   222.697200           NaN   207.082500
Art              26.999111    49.739091     11.260750    39.927200
Binders        1486.914267   274.165625    427.466167    41.815200
Bookcases      1023.332000   995.506800    145.740000   413.488500
Chairs         1016.881667   787.300846   1667.744000   576.258667
Copiers       10149.955000  7674.971000           NaN  8399.960000
Envelopes        35.093333    58.206000     23.340000    92.630000
Fasteners        15.692000     4.360000     25.028000     7.280000
Furnishings     129.247500    88.888182    156.064286   102.971250
Labels           11.960000    44.400000     15.750000    21.170000
Machines       4223.931000  4919.940000  10736.576667  1553.480000
Paper            39.236286    41.751500     17.522800    88.103125
Phones          515.872444   452.395571    417.548000   948.608800
Storage         189.164500   447.360000    193.770000   199.485400
Supplies        197.585000    18.153000      3.328000  2983.951200
Tables          481.096250   199.836000    693.101000   647.938500

In [155]:
savThePivT.columns

MultiIndex([('Sales', 'Central'),
            ('Sales',    'East'),
            ('Sales',   'South'),
            ('Sales',    'West')],
           names=[None, 'Region'])

In [159]:
savThePivT.columns=[' '.join(i) for i in savThePivT.columns]
savThePivT

              Sales Central   Sales East   Sales South   Sales West
Sub-Category
Accessories       36.027000   100.938889    498.000000   125.175667
Appliances       122.191000   222.697200           NaN   207.082500
Art               26.999111    49.739091     11.260750    39.927200
Binders         1486.914267   274.165625    427.466167    41.815200
Bookcases       1023.332000   995.506800    145.740000   413.488500
Chairs          1016.881667   787.300846   1667.744000   576.258667
Copiers        10149.955000  7674.971000           NaN  8399.960000
Envelopes         35.093333    58.206000     23.340000    92.630000
Fasteners         15.692000     4.360000     25.028000     7.280000
Furnishings      129.247500    88.888182    156.064286   102.971250
Labels            11.960000    44.400000     15.750000    21.170000
Machines        4223.931000  4919.940000  10736.576667  1553.480000
Paper             39.236286    41.751500     17.522800    88.103125
Phones           515.872444   452.395571    417.548000   948.608800
Storage          189.164500   447.360000    193.770000   199.485400
Supplies         197.585000    18.153000      3.328000  2983.951200
Tables           481.096250   199.836000    693.101000   647.938500

In [160]:
savThePivT.sort_values(by='Sales Central',ascending=False)

              Sales Central   Sales East   Sales South   Sales West
Sub-Category
Copiers        10149.955000  7674.971000           NaN  8399.960000
Machines        4223.931000  4919.940000  10736.576667  1553.480000
Binders         1486.914267   274.165625    427.466167    41.815200
Bookcases       1023.332000   995.506800    145.740000   413.488500
Chairs          1016.881667   787.300846   1667.744000   576.258667
Phones           515.872444   452.395571    417.548000   948.608800
Tables           481.096250   199.836000    693.101000   647.938500
Supplies         197.585000    18.153000      3.328000  2983.951200
Storage          189.164500   447.360000    193.770000   199.485400
Furnishings      129.247500    88.888182    156.064286   102.971250
Appliances       122.191000   222.697200           NaN   207.082500
Paper             39.236286    41.751500     17.522800    88.103125
Accessories       36.027000   100.938889    498.000000   125.175667
Envelopes         35.093333    58.206000     23.340000    92.630000
Art               26.999111    49.739091     11.260750    39.927200
Fasteners         15.692000     4.360000     25.028000     7.280000
Labels            11.960000    44.400000     15.750000    21.170000

# Identify the Regions where Top 20 Customers overall Profit ratio(Profit as % of Sales)

### Groupby Method